<div class="container">
    <div class="row article-read-section">
        <div class="col-lg-3">
            <div class="article-imag">
                <img class="img-responsive" src="../../assets/image1.jpg" alt="Article Image">
            </div>
        </div>
        <div class="col-lg-9">
            <div class="article-content">
                <div class="heading">
                    <label>News Headline : {{data.title}} </label>
                </div>
                <div class="content">
                    <p>
                        Content : 
                        <br>
                        {{data.content}}
                    </p>
                </div>
                <div class="date">
                    <label>Date : {{data.date}} </label>
                </div>
                <div class="author">
                    <label>Author : {{data.title}} </label>
                </div>
            </div>
        </div>
    </div>
</div>